*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --orange: hsl(25, 97%, 53%);
  --light-gray: #959eac;
  --very-dark-blue: #121417;
  --dark-blue: #252d37;
  --white: hsl(0, 0%, 100%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Overpass", sans-serif;
  font-size: 15px;
  background-color: var(--very-dark-blue);
}

.box {
  padding: 2em;
  width: 85%;
  max-width: 350px;
  min-height: 350px;
  border-radius: 2em;
  background: rgb(37, 45, 55);
  background: radial-gradient(circle at top, hsl(213, 23%, 19%) 19%, hsl(216, 12%, 10%) 100%);
}
.box__first-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1.5em;
}
.box__first-card-star-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
  background-color: rgba(149, 158, 172, 0.1);
}
.box__first-card-title {
  font-size: 2rem;
  color: var(--white);
}
.box__first-card-text {
  font-size: 1.25rem;
  color: var(--light-gray);
  line-height: 1.5;
  font-weight: 400;
}
.box__first-card-btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.box__first-card-btn {
  width: 2.8em;
  height: 2.8em;
  background-color: rgba(149, 158, 172, 0.1);
  color: var(--light-gray);
  border-radius: 50%;
  transition: colors 0.3s, background-color 0.3s;
}
.box__first-card-btn:hover {
  background-color: var(--orange);
  color: var(--white);
}
.box__first-card-btn:focus {
  background-color: var(--white);
  color: var(--very-dark-blue);
}
.box__first-card-submit-btn {
  width: 100%;
  padding: 1em;
  margin: 0.5em 0;
  border-radius: 2em;
  background-color: var(--orange);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 400;
  transition: background-color 0.3s;
}
.box__first-card-submit-btn:hover {
  background-color: var(--white);
}
.box__second-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  place-items: center;
  row-gap: 1.1em;
  display: none;
}
.box__second-card-selected-text {
  padding: 0.8em;
  margin-top: 0.5em;
  font-size: 1.2rem;
  background-color: rgba(149, 158, 172, 0.1);
  color: rgba(251, 116, 19, 0.7);
  border-radius: 1.4em;
}
.box__second-card-title {
  margin-top: 0.5em;
  color: var(--white);
  font-size: 2rem;
}
.box__second-card-text {
  color: var(--light-gray);
  line-height: 1.5;
  font-size: 1.3rem;
  text-align: center;
}

@media (min-width: 576px) {
  .box {
    padding: 1.9em;
    max-width: 400px;
    height: 425px;
  }
  .box__first-card {
    row-gap: 1.5em;
  }
  .box__first-card-title {
    font-size: 2.8rem;
  }
  .box__first-card-text {
    font-size: 1.5rem;
  }
  .box__first-card-btn {
    width: 3.7em;
    height: 3.7em;
  }
  .box__first-card-submit-btn {
    margin-top: 1.2em;
  }
  .box__second-card-img {
    margin-top: 1.5em;
  }
  .box__second-card-selected-text {
    margin-top: 0.7em;
    font-size: 1.4rem;
  }
  .box__second-card-title {
    font-size: 2.5rem;
  }
  .box__second-card-text {
    margin-top: 0.2em;
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=main.css.map */