@use "./utilities/reset";
@use "./utilities/mixins" as mixins;

:root {
	--orange: hsl(25, 97%, 53%);
	--light-gray: #959eac;
	--very-dark-blue: #121417;
	--dark-blue: #252d37;
	--white: hsl(0, 0%, 100%);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: "Overpass", sans-serif;
	font-size: 15px;
	background-color: var(--very-dark-blue);
}

@mixin card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.box {
	padding: 2em;
	width: 85%;
	max-width: 350px;
	height: 350px;
	border-radius: 0.8em;
	background: rgb(37, 45, 55);
	background: radial-gradient(circle at top, hsl(213, 23%, 19%) 19%, hsl(216, 12%, 10%) 100%);
	&__first-card {
		@include card;
		row-gap: 1.5em;

		&-star-box {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 2.5em;
			height: 2.5em;
			border-radius: 50%;
			background-color: rgb(149, 158, 172, 0.1);

			&-img {
				display: block;
				padding: 0.5em;
				margin: 0.3em;
				height: 30px;
				transform: translateX(1%);
				transform: translateY(-1%);
			}
		}
		&-title {
			font-size: 2rem;
			color: var(--white);
		}
		&-text {
			font-size: 1.25rem;
			color: var(--light-gray);
			line-height: 1.5;
			font-weight: 400;
		}

		&-btns {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}

		&-btn {
			background-color: rgb(149, 158, 172, 0.1);
			color: var(--light-gray);
			width: 2.8em;
			height: 2.8em;
			border-radius: 50%;
			transition: colors 0.3s, background-color 0.3s;

			&:hover {
				background-color: var(--orange);
				color: var(--white);
			}

			&:focus {
				background-color: var(--white);
				color: var(--very-dark-blue);
			}
		}

		&-submit-btn {
			width: 100%;
			padding: 1em;
			margin: 0.5em 0;
			border-radius: 2em;
			background-color: var(--orange);
			text-transform: uppercase;
			letter-spacing: 0.1em;
			font-weight: 400;
			transition: background-color 0.3s;

			&:hover {
				background-color: var(--white);
			}
		}
	}

	&__second-card {
		@include card;
		place-items: center;
		row-gap: 1.1em;
		display: none;

		&-selected-text {
			margin-top: 0.5em;

			p {
				font-size: 1.2rem;
				padding: 0.6em 1em;
				color: rgb(251, 116, 19, 0.7);
				background-color: rgb(149, 158, 172, 0.1);
				font-weight: 400;
				line-height: 1;
				border-radius: 11px;
			}
		}

		&-title {
			margin-top: 0.5em;
			color: var(--white);
			font-size: 2rem;
		}
		&-text {
			color: var(--light-gray);
			line-height: 1.5;
			font-size: 1.3rem;
			font-weight: 400;
			text-align: center;
		}
	}
}

@media (min-width: 576px) {
	.box {
		padding: 1.9em;
		max-width: 400px;
		height: 425px;

		&__first-card {
			row-gap: 1.5em;

			&-star-box {
				width: 3em;
				height: 3em;

				&-img {
					height: 32px;
				}
			}
			&-title {
				font-size: 2.8rem;
			}
			&-text {
				font-size: 1.5rem;
			}
			&-btn {
				width: 3.7em;
				height: 3.7em;
			}
			&-submit-btn {
				margin-top: 1.2em;
			}
		}

		&__second-card {
			&-img {
				margin-top: 1.5em;
			}
			&-selected-text {
				margin-top: 0.7em;
				p {
					font-size: 1.4rem;
					padding: 0.8em 1.2em;
				}
			}
			&-title {
				font-size: 2.5rem;
			}
			&-text {
				margin-top: 0.2em;
				font-size: 1.5rem;
			}
		}
	}
}
